<p id="notice"><%= notice %></p>

<p>
  <strong>Password digest:</strong>
  <%= @username.password_digest %>
</p>

<%= link_to 'Edit', edit_username_path(@username) %> |
<%= link_to 'Back', usernames_path %>
